<section class="features">
    <ul class="features-flex">
        <li class="features-item">
            <i class="item-icon fas fa-plane"></i>
            <p class="features-txt">FREE EXPRESS SHIPPING ON ORDERS OVER $100</p>
        </li>
        <li class="features-item">
            <i class="item-icon fas fa-undo"></i>
            <p class="features-txt">90-DAY HASSLE-FREE RETURNS</p>
        </li>
        <li class="features-item">
            <i class="item-icon fas fa-medal"></i>
            <p class="features-txt">IN-HOUSE PRODUCTION WITH PREMIUM QUALITY</p>
        </li>
        <li class="features-item">
            <i class="item-icon fas fa-shield-alt"></i>
            <p class="features-txt">100% SAFE & SECURE CHEKOUT</p>
        </li>
    </ul>
</section>