<div>
    <a href="/contact" class="chat">
        <i class="chat-icon fas fa-comment-dots"></i>
    </a>
</div>
<footer>
    <div class="footer-grid">
        <div class="footer-item">
            <p>SUPPORT</p>
            <ul class="footer-list">
                <li class="col-item"><a href="#">FAQ´s</a></li>
                <li class="col-item"><a href="#">Orders</a></li>
                <li class="col-item"><a href="#">Returns</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <p>LEARN MORE</p>
            <ul class="footer-list">
                <li class="col-item"><a href="/about">About Us</a></li>
                <li class="col-item"><a href="/contact">Contact Us</a></li>
                <li class="col-item"><a href="/contact">Work with us</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <p class="">BE FIRST TO KNOW ABOUT RELEASES AND RESTOCKS</p>
            <form action=".js" method="get" class="footer-form">
                <input type="email" id="useremail" placeholder="Enter your email addres" class="form-item">
                <input type="submit" value="SUBSCRIBE" class="form-btn">
            </form>
        </div>
    </div>
</footer>