<%- include('../partials/header') %>
<body>
    <%- include('../partials/nav') %>
    <section class="about">
        <div class="about-title">            
            <h1>ABOUT US</h1>
        </div>
        <div class="about-flex">
            <div class="about-item">
                <h1>QUALITY</h1>
                <p>Each cargo pants are inspected by our staff from corner-to-corner in order to provide the best shopping experience to our customers. </p>
            </div>
            <div class="about-item">
                <h1>FAIR PRICE</h1>
                <p>Our business model lets us sell the same quality directly to you for a fraction of the price.</p>
            </div>
            <div class="about-item">
                <h1>WORLDWIDE</h1>
                <p>Free express & worlwide shipping on order over $100. Including 90-day hassle-free returns</p>
            </div>
            <div class="about-item">
                <h1>SECURITY</h1>
                <p>We protect your personal information, with our 100% Safe & Secure checkout</p>
            </div>
        </div>
    </section>
        
        
    <section class="social">
        <div class="social-flex">
            <a href="#" class="social-item">
                <i class="fab fa-facebook"></i>                
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </section>

    <div>
        <a href="#" class="chat">            
            <i class="chat-icon fas fa-comment-dots"></i>
        </a>
    </div>

    <%- include('../partials/footer') %>
        
    <script src="/javascripts/main.js"></script>
    </body>
    </html>