<%- include('../partials/header') %>
<body>
    <%- include('../partials/nav') %>
    <section class="about">
        <div class="about-title">            
            <h1>CONTACT</h1>
        </div>
        <div class="about-flex">
            <div class="about-item">
                <h1>EMAIL US</h1>
                <p>TECH aims at providing the best quality for our customers. Please tell us your thoughts if you have any questions. We will reply you as soon as possible. </p>
                <h2>contact@tech.store</h2>
            </div>
        </div>
    </section>
        
        
    <section class="social">
        <div class="social-flex">
            <a href="#" class="social-item">
                <i class="fab fa-facebook"></i>                
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </section>

    <div>
        <a href="#" class="chat">            
            <i class="chat-icon fas fa-comment-dots"></i>
        </a>
    </div>

    <%- include('../partials/footer') %>
        
    <script src="/javascripts/main.js"></script>
    </body>
    </html>