<%- include('../partials/header') %>

<body>
    <%- include('../partials/nav') %>
    <section>
        <div class="banner">
            <img src="/images/pantbanner.jpg" alt="" class="banner-img1">
            <img src="/images/pantbanner2.jpg" alt="" class="banner-img2">
            <div class="banner-content">
                <p>CARGOWEAR ESSENTIAL</p>
                <h2>X1 CARGO RESTOCK</h2>
                <a href="#" class="banner-link">SHOP NOW</a>
            </div>
        </div>
    </section>

    <section class="best-sellers">
        <h2 class="best-title">BEST SELLERS</h2>
        <div class="best-grid">
            <div>
                <div class="best-item">
                    <a href="#">
                    <p class="best-bf">BEST SELLER</p>
                    <img src="/images/pant1.jpg" alt="">
                    </a>
                </div>
                <p class="best-txt">BLACK</p>
                <a href="#" class="best-txt best-link">N1 CARGO</a>
                <p class="best-txt">$ 60</p>
            </div>
            <div>
                <div class="best-item">
                    <a href="#">                        
                    <p class="best-bf">BEST SELLER</p>
                    <img src="/images/pant2.jpg" alt="">
                    </a>
                </div>
                <p class="best-txt">GREEN</p>
                <a href="#" class="best-txt best-link">N1 CARGO</a>
                <p class="best-txt">$ 60</p>
            </div>
            <div>
                <div class="best-item">
                    <a href="#">                        
                    <p class="best-bf">BEST SELLER</p>
                    <img src="/images/pant3.jpg" alt="">
                    </a>
                </div>
                <p class="best-txt">BLACK</p>
                <a href="#" class="best-txt best-link">C14 CARGO</a>
                <p class="best-txt">$ 65</p>
            </div>
            <div>
                <div class="best-item">
                    <a href="#">                        
                    <p class="best-bf">BEST SELLER</p>
                    <img src="/images/pant4.jpg" alt="">
                    </a>
                </div>
                <p class="best-txt">ORANGE</p>
                <a href="#" class="best-txt best-link">N1 CARGO</a>
                <p class="best-txt">$ 60</p>
            </div>
        </div>
    </section>

    <a href="#" class="all">VIEW ALL PRODUCTS</a>

    <section class="new-arrivals">        
        <div class="arrivals-grid">
            <div class="arrival">
                <a href="#">                
                    <img src="/images/arrival1.webp" alt="" class="arrival-img">
                    <div class="arrival-content">
                        <p>NEW ARRIVAL</p>
                        <h2>C11 CARGOWEAR</h2>
                        <a href="#" class="arrival-link">SHOP NOW</a>
                    </div>
                </a>
            </div>
            <div class="arrival">
                <a href="#">                
                    <img src="/images/arrival2.webp" alt="" class="arrival-img">
                    <div class="arrival-content">
                        <p>NEW ARRIVAL</p>
                        <h2>V1 CARGOWEAR</h2>
                        <a href="#" class="arrival-link">SHOP NOW</a>
                    </div>
                </a>
            </div>
            <div class="arrival">
                <a href="#">                
                    <img src="/images/arrival3.webp" alt="" class="arrival-img">
                    <div class="arrival-content">
                        <p>NEW ARRIVAL</p>
                        <h2>X1 CARGOWEAR</h2>
                        <a href="#" class="arrival-link">SHOP NOW</a>
                    </div>
                </a>
            </div>
            <div class="arrival">
                <a href="#">                
                    <img src="/images/arrival4.webp" alt="" class="arrival-img">
                    <div class="arrival-content">
                        <p>LAST UNITS</p>
                        <h2>B21 CARGOWEAR</h2>
                        <a href="#" class="arrival-link">SHOP NOW</a>
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <section class="features">
        <ul class="features-flex">
            <li class="features-item">
                <i class="item-icon fas fa-plane"></i>
                <p class="features-txt">FREE EXPRESS SHIPPING ON ORDERS OVER $100</p>
            </li>
            <li class="features-item">
                <i class="item-icon fas fa-undo"></i>
                <p class="features-txt">90-DAY HASSLE-FREE RETURNS</p>
            </li>
            <li class="features-item">
                <i class="item-icon fas fa-medal"></i>
                <p class="features-txt">IN-HOUSE PRODUCTION WITH PREMIUM QUALITY</p>
            </li>
            <li class="features-item">
                <i class="item-icon fas fa-shield-alt"></i>
                <p class="features-txt">100% SAFE & SECURE CHEKOUT</p>
            </li>
        </ul>
    </section>
    
    <section class="social">
        <div class="social-flex">
            <a href="#" class="social-item">
                <i class="fab fa-facebook"></i>                
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-item">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </section>

    <div>
        <a href="#" class="chat">            
            <i class="chat-icon fas fa-comment-dots"></i>
        </a>
    </div>

    <%- include('../partials/footer') %>
        
    <script src="/javascripts/main.js"></script>
    </body>
    </html>